body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:150px;
  width:740px;
  height:628px;
}
#u0_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:628px;
  overflow:auto;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:53px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 204, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:150px;
  width:726px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:410px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:248px;
  width:281px;
  height:410px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:277px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:256px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:294px;
  width:150px;
  height:39px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:300px;
  width:99px;
  height:27px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:343px;
  width:150px;
  height:39px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:350px;
  width:99px;
  height:26px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:392px;
  width:150px;
  height:39px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:399px;
  width:99px;
  height:26px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:431px;
  width:150px;
  height:39px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:444px;
  width:99px;
  height:26px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:434px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:248px;
  width:300px;
  height:434px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:256px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:400px;
  width:120px;
  height:39px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:333px;
  width:143px;
  height:39px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:337px;
  width:99px;
  height:27px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:305px;
  width:99px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17_input:disabled {
  color:grayText;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:374px;
  width:300px;
  height:1px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:382px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:294px;
  width:98px;
  height:39px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:431px;
  width:120px;
  height:39px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:470px;
  width:120px;
  height:39px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:562px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:203px;
  width:1px;
  height:561px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:404px;
  width:99px;
  height:27px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:441px;
  width:99px;
  height:27px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:478px;
  width:99px;
  height:27px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:529px;
  width:99px;
  height:27px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:566px;
  width:99px;
  height:27px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:618px;
  width:120px;
  height:40px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:618px;
  width:118px;
  height:40px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:493px;
  width:140px;
  height:40px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:333px;
  width:55px;
  height:31px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:53px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:150px;
  width:61px;
  height:53px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:519px;
  width:120px;
  height:39px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:558px;
  width:120px;
  height:39px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
